@media only screen and (min-width:600px) {
    #nav-banner {
        display: block;
        margin: 0 0 5px 20px;
    }

    #menu {
        display: none;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width:850px) {
        .main-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        header{
            display: grid;
            grid-template-columns: 1fr 2fr;
        }

        ul {
            display: flex;
        }

        ul li {
            display: block;
            /* change state in small view */
            flex: 1 1 100%;
        }
    }
}